@media only screen and (max-width:991px){


.navbar .coti:hover {background: transparent;color: #e51c1b;}
.navbar .coti{display: block;font-size: 22px;margin-left: 0;font-weight: 500;color: #e51c1b;padding: 15px 25px;position: relative;background: #fff;}
.navbar-toggler-icon {color: #094886 ; width: 39px; height: 39px;}
a.logo img {width: 300px;padding: 0;top: 0;left: 0;}
.logo{display: block;}
.menu-logo{display: none;}
.owl-carousel3 .owl-dots.disabled, .owl-carousel3 .owl-nav.disabled {display: none;}
.navbar-toggler:focus {box-shadow: none;}
.navbar-toggler{border: none;}
.navbar-expand-lg .navbar-nav .nav-link {display: block;font-size: 22px;margin-left: 0;font-weight: 500;color: #094886;padding: 15px 25px;position: relative;background: #edf2f2;border-radius: 0;}
.navbar-expand-lg .navbar-nav .nav-link:hover {color: #094886;}
.navbar-expand-lg .navbar-nav .nav-item .active {color: #fff;font-weight: 600;background: #094886;text-transform: uppercase;position: relative;border-radius: 0;}
/* .menu-movil{display: block;background: #000;} */
.top-header{background: linear-gradient(45deg, #094886 , #42ad22 );padding: 10px 0;}
.top-header .wsp-msj a{color: #fff;}
.top-header .tr{display: none;}
.top-header .col-md-4{justify-content: center !important;padding: 2px 0;}
.top-header .col-md-4 a{justify-content: center !important;}
.top-header .redes li a{color: #e51c1b;}
.top-header .redes { text-align:  center; display: none !important;}
.owl-carousel2{display: block !important;}
.owl-carousel3{display: block !important;}

.historia-home .texto a{ text-align: center;}
.historia-home .texto p{ text-align: justify;}
.historia-home .contenedor-img{ text-align: center; margin-top:  40px;}

footer img {display: block;width: 60%;margin: 0 auto 10px;}


.mision-home .caja .card{ width: 90%; }

.noticias-int .box-filtros .form-group{display: block;margin-right: 0;margin-bottom: 15px;}
.noticias-int .box-filtros select {width: 100%;}
.noticias-int .box-filtros .caja-filtro{flex-direction: column;}
.noticias-int .box-filtros input{width: 100%;}
.noticias-int .totalidad{display: flex !important;align-items: center;}
.noticias-int .mostrar-mas{align-items: center;}


.contactenos {padding: 30px 0;}

.nivel .caja img{ width: 99%; }
}
@media only screen and (max-width:767px) {
.miga p{font-size: 11px;}
.owl-carousel2{display: none !important;}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {width: 100% !important;}
.owl-carousel3 .owl-dots.disabled, .owl-carousel3 .owl-nav.disabled {display: none;}
footer img {display: block;width: 30%;margin: 0 auto 10px;}
footer .redes{margin-bottom: 10px;}
.dropdown-menu li a {padding: 5px 15px !important;display: block;margin: 0 !important;background: #e51c1b !important;border: 1px solid #ccc !important;border-bottom: none !important;color: #ffffff !important;font-size: 16px !important;text-transform: inherit;font-weight: 600 !important;}
.dropdown-menu::before{display: none;}
.navbar-toggler{border: none;}
.header_navigation .menubar li a img{width: 25px;}
.navbar{padding: 15px 0;}
a.logo img {width: 300px;padding: 0;position: relative;top: 0;left: 20px;}
.navbar .container-fluid{padding: 0;}
.navbar-expand-lg .navbar-nav .nav-link {display: block;font-size: 22px;margin-left: 0;font-weight: 500;color: #094886;padding: 15px 25px;position: relative;background: #edf2f2;border: 1px solid #fff;}
.navbar-expand-lg .navbar-nav .nav-link:hover {color: #fff;background: #094886;}
.nosotros-home img {width: 90%;display: block;margin: 0 auto 40px;}
h2{font-size: 28px !important;}

.nosotros-home .img-nosotros-home{width: 100%;}
.anta-emba .caja{
    margin-bottom: 30px;
}

.owl-carousel5 .owl-nav button.owl-prev{left: -1%;}
.owl-carousel5 .owl-nav button.owl-next{right: -1%;}

.wwwa--right .wwwa__pulse {left: auto;right: 10px;}
.wwwa__pulse {position: fixed;bottom: 10px;left: 30px;width: 60px;height: 60px;border: 12px solid var(--color);border-radius: 50px;animation: wwwax--pulse infinite 1.2s .8s both;}

.owl-carousel4 .owl-nav button.owl-prev{right: 13%;}

.owl-carousel10 .owl-dots.disabled, .owl-carousel10 .owl-nav.disabled{display: block;}

.pago-home .logos img {display: inline-block;width: 70px;margin: 7px;border-radius: 5px;}
footer h4{font-size: 18px;margin-bottom: 5px;}
footer ul{margin-bottom: 15px;}
footer ul li{font-size: 14px;}
footer h6{font-size: 14px;}
footer p{font-size: 12px;}
.sticky-top {position: initial;}
.menuweb{display: block;}

.trayectoria-home .box-trayectoria{display: block;}
.trayectoria-home .contador-box {text-align: center;background: #e3f0fe;padding: 20px 30px;border-radius: 15px;width: 100%;margin-bottom: 30px;margin-right: 0;}


.primer-paso-home p {text-transform: uppercase;display: block;text-align: center;font-size: 18px;color: #fff;font-weight: 700;width: 80%;margin: 0 auto;}
.primer-paso-home h2{font-size: 24px !important;}
.primer-paso-home a {width: 180px;font-size: 16px;}

.trayectoria-home .box-trayectoria{display: block;}
.trayectoria-home .contador-box {text-align: center;background: #e3f0fe;padding: 20px 30px;border-radius: 15px;width: 100%;margin-bottom: 30px;margin-right: 0;}


.mision-home {  padding: 50px 0 30px 0;}
.mision-home  .container-fluid{  display: flex !important; justify-content: center !important;}
.mision-home  .row{ display: flex !important; justify-content: center !important; width: 95% !important; }
.mision-home  .col-4{ width: 99% !important; }
.mision-home .caja{ margin-bottom: 30px; }
.mision-home .caja .card{ width: 100%; }


.noticias-int .box-filtros .form-group{display: block;margin-right: 0;margin-bottom: 15px;}
.noticias-int .box-filtros select {width: 100%;}
.noticias-int .box-filtros .caja-filtro{flex-direction: column;}
.noticias-int .box-filtros input{width: 100%;}
.noticias-int .totalidad{display: flex !important;align-items: center;}
.noticias-int .mostrar-mas{align-items: center;}

.contactenos h2{font-size: 40px;}

.contactenos .form-contacto .captcha-imagen{width: 150px;}
.contactenos .form-contacto #refres{margin-left: 0;}
.contactenos .form-contacto #captcha {width: 200px;margin-left: 0;}
.contactenos iframe{width: 100%;height: 400px;}
.contactenos .form-contacto{width: 100%;margin-left: 0;padding: 20px;margin-bottom: 30px;}
.contactenos .mapaaa{width: 100%;margin-left: 0;}
.contactenos .box-contacto {display: block;text-align: left;border-radius: 10px;margin-bottom: 20px;height: auto;margin-right: 0;}


.nivel{ padding:  5px; }
.nivel .caja img{ width: 100%; }

@keyframes moverObjeto {0% { transform: translateX(-20px); }50% { transform: translateX(0px);}100% { transform: translateX(-20px);}}
@keyframes moverObjeto1 {0% { transform: translateX(20px); }50% { transform: translateX(0px);}100% { transform: translateX(20px);}}


}

@media only screen and (max-width:1024px) and (min-width:991px) {
.navbar-expand-lg .navbar-text ul li{display: inline-block;margin-left: 0;position: relative;}
.navbar-expand-lg .navbar-nav .nav-link {font-size: 12px;padding: 10px 7px;}
}

@media screen and (min-width: 1025px) and (max-width: 1450px) {
.navbar-brand img {width: 120px;}
.navbar-expand-lg .navbar-nav .nav-link {padding-right: 6px;padding-left: 6px;font-size: 18px;}
.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) img {width: 16px;height: 16px;}
.menuweb .form-control{font-size: 14px;}
.top-header a{font-size: 16px;}

.mision-home .caja .card{ width: 70%; }
}